<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="footer-icons text-center">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-vimeo-v"></i></a>
        </div>
        <div class="footer-copyright text-center">
          <p>© 2020
            {{#link 'help_center' }}
            {{help_center.name}}
            {{/link}}
            customer support. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>