<div class="fixed-top">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-4">
          {{#link 'help_center' class="logo"}}
          <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
          {{/link}}
        </div>
        <div class="col-md-6 col-8">
          <div class="top-right-nav">
            <a href="{{ link 'community' }}">Community</a>
            <a href="" class="btn btn-primary btn-sm rounded-25 px-4">Login</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>